In [5]:
from bs4 import BeautifulSoup

In [6]:
import requests

In [22]:
def extract(page):
    headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.72 Safari/537.36'}
    url = f'https://www.indeed.com/jobs?q=data&start={page}&vjk=04e8f9a964991b0e'
    r = requests.get(url, headers)
    soup = BeautifulSoup(r.content, 'html.parser')
    return soup

In [76]:
def transform(soup):
    divs = soup.find_all('div', class_ = 'job_seen_beacon')
#     print(len(divs))
    for item in divs:
        table = item.find('table').text.strip()
        job_title = item.find('h2', title = '').text.strip()
        company = item.find('span', class_ = 'companyName').text.strip()
        location = item.find('div', class_ = 'companyLocation').text.strip()
        try:
            salary = item.find('div', class_ = 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        summary = item.find('div', class_ = 'job-snippet').text.strip().replace('\n', '')
        job = {'title': job_title, 'company': company, 'location': location, 'salary': salary, 'requirements': summary}
        joblist.append(job)
    return

[{'title': 'Data Entry Keyers', 'company': 'In Depth Solutions', 'location': 'Boise, ID 83705 (Vista area)', 'salary': '$10 - $15 an hour', 'requirements': 'An Associate’s Degree or equivalent higher education and/or past experience doing data entry is ideal, but not required.Part-Time/Full-Time Employment.'}, {'title': 'newJr. Data Scientist', 'company': 'Paramount', 'location': 'New York, NY 10036', 'salary': '', 'requirements': 'Work with data scientists, data engineers, and software engineers to deliver analysis aimed at underlying business objectives.'}, {'title': 'newGMO Global Risk Data Goverance and Analytics', 'company': 'Bank of America', 'location': 'Charlotte, NC 28202 (First Ward area)', 'salary': '', 'requirements': 'Carry out analytics on key risk themed data to support identification of emerging risks; design and implement data themed reporting for Senior Teams.'}, {'title': 'newProgram Associate, Social Impact', 'company': 'Google', 'location': 'San Francisco, CA', 'salary': '', 'requirements': "Manage portfolio data and shaping budgets.Bachelor's degree or equivalent practical experience.2 years of experience in consulting or program management at a…"}, {'title': 'Data Entry Operators', 'company': 'Data Dash', 'location': 'St. Louis, MO 63129', 'salary': '', 'requirements': 'Call (573)760-0230 for an appointment to fill out an application and take our data entry test.At Data Dash, 12,000,000 keystrokes are available per day, with…'}, {'title': 'newClerk, PT Data Entry (REMOTE/VIRTUAL WORKPLACE)', 'company': 'Royal Caribbean Group', 'location': 'Remote in United States', 'salary': '', 'requirements': 'The Data Entry employee compares data on screen with source document or re-enters data in verification format.'}, {'title': 'Data Entry Operator', 'company': 'DHL', 'location': 'Portage, IN 46368+1 location', 'salary': 'From $14 an hour', 'requirements': 'Compares data entered with source documents, or re-enters data in verification format on screen to detect errors.May respond to customer request for data.'}, {'title': 'DOT Tickets - Data Entry Clerk', 'company': 'Stella Environmental Services', 'location': 'Houston, TX 77032', 'salary': '', 'requirements': 'Check source documents for data accuracy.Prepare, compile and sort documents for data entry.Combine and rearrange data from source documents where required.'}, {'title': 'Data Scientist, Operations Data Science', 'company': 'Google', 'location': 'Hybrid remote in Mountain View, CA+9 locations', 'salary': '$95,000 a year', 'requirements': 'Lead projects with hands-on analysis and modeling, drawing from multiple of analytical methods to choose the right tool and right level of complexity…'}, {'title': 'Image Review / Data Entry Operator', 'company': 'Conduent', 'location': 'El Paso, TX 79912 (Northwest area)+12 locations', 'salary': '$10 an hour', 'requirements': 'Image Review / Data Entry Operator*.We will rely on your attention to detail, customer service experience, passion, and efficiency to process their needs.'}, {'title': 'REMOTE - Data Scientist', 'company': 'Labcorp', 'location': 'Remote in Westborough, MA+1 location', 'salary': '', 'requirements': 'Use analytical and statistical methods to analyze large amounts of data, extracting actionable insights using advanced techniques such as data analysis, data…'}, {'title': 'newPeople Operations Associate', 'company': 'PeopleOps Jobs', 'location': '+1 locationRemote', 'salary': '$30,603 - $104,406 a year', 'requirements': 'This includes, but is not limited to, data entry, HR setup, organizing equipment delivery, calendar scheduling, and setting up new accounts.'}, {'title': 'Graduate Data Scientist - Role Can be Remote', 'company': 'MARS', 'location': 'Remote in Franklin, TN+5 locations', 'salary': '', 'requirements': 'Basic programming, data analysis, and visualization skills.Basic understanding of the pet care journey enabling data story telling.'}, {'title': 'newDepartment Assistant', 'company': 'Paramount Pictures', 'location': 'Los Angeles, CA 90038', 'salary': '', 'requirements': 'Willing and able to pitch in with occasional data entry and basic review of social conversation Basic qualifications:Creates and maintains spreadsheet files.'}, {'title': 'newData Control Specialist', 'company': 'Tulane University', 'location': 'New Orleans, LA', 'salary': '', 'requirements': 'The employee will be responsible for data entry and conduct data management by using available programs and provided procedures to maintain and manipulate…'}]

In [89]:
joblist = []

for i in range(0,500,10):
    print(f'Getting page, {i}')
    c = extract(i)
    transform(c)
# print(joblist)

Getting page, 0
Getting page, 10
Getting page, 20
Getting page, 30
Getting page, 40
Getting page, 50
Getting page, 60
Getting page, 70
Getting page, 80
Getting page, 90
Getting page, 100
Getting page, 110
Getting page, 120
Getting page, 130
Getting page, 140
Getting page, 150
Getting page, 160
Getting page, 170
Getting page, 180
Getting page, 190
Getting page, 200
Getting page, 210
Getting page, 220
Getting page, 230
Getting page, 240
Getting page, 250
Getting page, 260
Getting page, 270
Getting page, 280
Getting page, 290
Getting page, 300
Getting page, 310
Getting page, 320
Getting page, 330
Getting page, 340
Getting page, 350
Getting page, 360
Getting page, 370
Getting page, 380
Getting page, 390
Getting page, 400
Getting page, 410
Getting page, 420
Getting page, 430
Getting page, 440
Getting page, 450
Getting page, 460
Getting page, 470
Getting page, 480
Getting page, 490

In [90]:
print(len(joblist))

750

In [91]:
import pandas as pd
df = pd.DataFrame(joblist)
df.head(60)

,title,company,location,salary,requirements
0,Data Entry Keyers,In Depth Solutions,"Boise, ID 83705 (Vista area)",$10 - $15 an hour,An Associate’s Degree or equivalent higher edu...
1,newJr. Data Scientist,Paramount,"New York, NY 10036",,"Work with data scientists, data engineers, and..."
2,newGMO Global Risk Data Goverance and Analytics,Bank of America,"Charlotte, NC 28202 (First Ward area)",,Carry out analytics on key risk themed data to...
3,"newProgram Associate, Social Impact",Google,"San Francisco, CA",,Manage portfolio data and shaping budgets.Bach...
4,Data Entry Operators,Data Dash,"St. Louis, MO 63129",,Call (573)760-0230 for an appointment to fill ...
5,"newClerk, PT Data Entry (REMOTE/VIRTUAL WORKPL...",Royal Caribbean Group,Remote in United States,,The Data Entry employee compares data on scree...
6,Data Entry Operator,DHL,"Portage, IN 46368+1 location",From $14 an hour,"Compares data entered with source documents, o..."
7,DOT Tickets - Data Entry Clerk,Stella Environmental Services,"Houston, TX 77032",,Check source documents for data accuracy.Prepa...
8,"Data Scientist, Operations Data Science",Google,"Hybrid remote in Mountain View, CA+9 locations","$95,000 a year",Lead projects with hands-on analysis and model...
9,Image Review / Data Entry Operator,Conduent,"El Paso, TX 79912 (Northwest area)+12 locations",$10 an hour,Image Review / Data Entry Operator*.We will re...
10,REMOTE - Data Scientist,Labcorp,"Remote in Westborough, MA+1 location",,Use analytical and statistical methods to anal...
11,newPeople Operations Associate,PeopleOps Jobs,+1 locationRemote,"$30,603 - $104,406 a year","This includes, but is not limited to, data ent..."
12,Graduate Data Scientist - Role Can be Remote,MARS,"Remote in Franklin, TN+5 locations",,"Basic programming, data analysis, and visualiz..."
13,newDepartment Assistant,Paramount Pictures,"Los Angeles, CA 90038",,Willing and able to pitch in with occasional d...
14,newData Control Specialist,Tulane University,"New Orleans, LA",,The employee will be responsible for data entr...
15,newInvestment Data Lead Analyst,California Public Employees' Retirement System...,"Remote in Sacramento, CA","$9,537 - $11,373 a month",Our Data Integrity Group is currently seeking ...
16,newData Engineer,Bath & Body Works,"Columbus, OH",,Identify opportunities and build solutions to ...
17,Associate Data Scientist,Nike,"Beaverton, OR+1 location",,"Exposure to or experience in data engineering,..."
18,Data Entry Specialist,NEXT Oncology,"Remote in Fairfax, VA","$40,000 - $65,000 a year",Data entry personnel will also resolve all dat...
19,"newManager, Data Analytics",Paramount,"New York, NY 10036+1 location",,Query a data warehouse for data via SQL.Create...
20,Data Analyst – Enterprise Data,Microsoft,"Remote in Redmond, WA+5 locations",,Work with data engineers to operationalize das...
21,"newData Analyst, BPE",Facebook App,"Menlo Park, CA+44 locations",,Experience with data visualization tools such ...
22,newData Control Specialist,Tulane University,"New Orleans, LA",,The employee will be responsible for data entr...
23,newOriginals Reporting Analyst,Hulu,"Santa Monica, CA 90404",,The right person for this role is highly analy...
24,newSenior Data Entry Clerk - Remote,UnitedHealth Group,"Remote in Dallas, TX+4 locations",,1+ years of data entry or administrative exper...
25,newData Coordinator (Excel based),Archbright,"Seattle, WA 98108 (Georgetown area)",,"Format data analysis reports, summary document..."
26,data scientist -Remote,Starbucks,"Remote in Seattle, WA+2 locations",,Experience building complex data sets from mul...
27,newData Entry Clerk,Reynolds and Reynolds,"Duluth, GA 30095+1 location",,Secure Title Administration (STA) is a divisio...
28,newRemote Personal Assistant,"Excellence Services, LLC",Remote,"$62,400 - $102,000 a year","Collect information, perform research and data..."
29,newCombine Automation Data Scientist,John Deere,"Hybrid remote in Silvis, IL+4 locations",,Experience with tools used for data management...
30,newData Science,Halliburton,"Houston, TX 77032 (IAH - Airport area)+2 locat...",,Analyze large scale complex business data (tim...
31,newData Analyst,KEYENCE,"Itasca, IL 60143","$97,000 - $135,000 a year",Ability to work with large volume of confident...
32,COVID-19 Test Site Data Entry,University of Minnesota,"Minneapolis, MN",,Demonstrated commitment to promoting a culture...
33,Part-Time Student-Smart Connected Factory/Data...,John Deere,"Remote in Waterloo, IA",,Locates and acquires data from existing data l...
34,Data Scientist,Oracle,United States+14 locations,,Work on multiple stages of data science projec...
35,Data Science & Analytics,Digital Trike,"South Jordan, UT 84095",,"As much as you’re a master at rigorous mining,..."
36,newData Catalyst,John Deere,"Hybrid remote in Johnston, IA",,Experience with the Agribusiness product and u...
37,newAccessioner/Data Entry Representative,Sonic Healthcare USA provides equal employment...,"Greensboro, NC",,"Job Functions, Duties, Responsibilities and Po..."
38,Junior Data Scientist,ClimateAI,"Remote in San Francisco Bay Area, CA",,Experience with weather and climate data.Produ...
39,Data Science Co-Op- Fall 2022,Johnson & Johnson Family of Companies,"Cincinnati, OH 45242+71 locations",,Write software to enable data analysis and ens...
40,newData Scientist,Adobe,"San Francisco, CA+10 locations",,Big data manipulation and programming.You will...
41,newData Entry Clerk,San Ysidro Health,"San Diego, CA 92173",,Under the direct supervision of the Contracts ...
42,newData Specialist,The University of Alabama,"Tuscaloosa, AL",$14.49 - $21.15 an hour,Job Summary: The Data Specialist is responsibl...
43,"newData Science, Analyst",Toyota,"Plano, TX 75023+4 locations",,The primary responsibility of this role is to ...
44,Data Curator,Alphamatician,"Remote in Boston, MA",,The data curator role at Alphamatician involve...
45,Data Science Co-Op- Fall 2022,Johnson & Johnson Family of Companies,"Cincinnati, OH 45242+71 locations",,Write software to enable data analysis and ens...
46,"Data Analyst, Business Analysis and Reporting ...",Publix,"Remote in Lakeland, FL+2 locations","$63,960 - $96,330 a year",This includes mining and analyzing financial a...
47,newAccessioner/Data Entry Representative,Sonic Healthcare USA provides equal employment...,"Greensboro, NC",,"Job Functions, Duties, Responsibilities and Po..."
48,Associate Data Scientist,Blizzard Entertainment,"Irvine, CA 92618+1 location",,Blizzard data scientists design and deploy dat...
49,newData Center Operator,Reynolds and Reynolds,"Dayton, OH 45430+1 location",,Your responsibilities will include monitoring ...
50,newData Specialist,The University of Alabama,"Tuscaloosa, AL",$14.49 - $21.15 an hour,Job Summary: The Data Specialist is responsibl...
51,newDATA ANALYST,Highline Public Schools,"Seattle, WA","$92,404 - $103,043 a year",CLASSIFIED (NON-ADMIN)/DATA ANALYST.Position T...
52,newCybersecurity Data Analyst,Microsoft,"Remote in Redmond, WA+1 location",,3 + years in a data analysis or data visualiza...
53,Data Entry Processor,Cognizant Technology Solutions,"Reno, NV",,Quick learning and perfect change orientation ...
54,Research and Data Analyst,ESC Region 11,"Fort Worth, TX 76108",$84 an hour,Acquire data from primary or secondary data so...
55,Global Intelligence Analyst,Dolby,"San Francisco, CA",,A passion for data analysis.Experience in work...
56,newData Entry Clerk,Summit Line Construction,"Orem, UT+1 location",,"Summit Line performs new-build, design-build, ..."
57,"Data Scientist, Spotify Advertising",Spotify,Remote in Oregon+12 locations,,Communicate data-driven insights and recommend...
58,"Data Scientist, Mapping",Shipt,Remote in California+13 locations,,The data scientist will be responsible for end...
59,Junior Data Analyst,Shaker,Remote,,College degree OR some experience working with...

In [92]:
df.to_csv('indeed_jobs.csv')